h1 {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 100px;
}

.counting-div {
    display: flex; 
    justify-content: center;
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
}

.counting-box {
    width: 50%;
    min-height: 100%;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: -webkit-center;
}

