<div class="background">
  <h1>Let's play a game</h1>

  <br><br>
  
  <app-game-control (startCount)="this.startCount()" (pauseCount)="this.pauseCount()" (resetCount)="this.resetCount()"></app-game-control>

  <div class="counting-div">
    <div class="counting-box">
      <div *ngFor="let numberToBeShown of this.numbers">
        <app-even *ngIf="this.isNumberToBeShownEven(numberToBeShown)" [numberToBeShown]="numberToBeShown"></app-even>
        <app-odd *ngIf="!this.isNumberToBeShownEven(numberToBeShown)" [numberToBeShown]="numberToBeShown"></app-odd>
      </div>
    </div>
  </div>

</div>